h1{
    color: #ACC8E5;
    text-align: center;
}
nav{
    background-color: #ac2828;
    height: 100%;
    width: 100%;
}
nav ul{
    display: inline;
}
nav ul li{
    display: inline;
    list-style: none;
}
/* Color #ACA2E5*/
p{
    color: #ACA2E5;
}
body {
    font-family: 'Open Sans';
    background-color:  #111213;
}
